          Student
          Id      Name       Course       phno      email
          1.    Sunil       Python      987654321   sunil@gmail.com
          2.  priyanshi     Python      12345678     priyanshi@gmail.com
          3.   Anisha       Python      98765321        Null
          4.    Anushka        ds           null        null
          
          Fees
          id   Fees         Discount       dip      SID
          1.   12000         2000          5000      1
          3.   10000         1000          4000
          2.   12500         3000          10000
          
          Details:
          Sid     cover       left
          1.      python     advance

        SQL
            Structured Query Language
            Structure --> table format --> rows and columns
            Query --> You can put query(question)
            language --> It has own rules and syntax
            
            RDBMS --> Relational Database management system
            Relation (two tables)
            Eg --> Mysql, Oracle, Pymysql,sqlite3, mariadb etc
            
        No SQL
            Non Structual Query Language
            Language --> syntax and rules
            Non relational Database Management System
            
               {
                   "name" : "simran",
                   "id" : 2
                }
                {
                    "course" : "python",
                    "name" : "anisha"
                }
                {
                    "fees" : 12000,
                    "id"  : 2
                 }
                 eg. Mongodb

### Keys (constraints)

        1. Primary key   ---> For each Record we should have unique value (in our case id will be the primary key)
                               Not null(one table can have only one primary key)
        2. Candidate key --> Are those keys or columns that are eligible to be primary key(id,email)
        3. Unique key  --> Will not allow the duplicate data (null) 
        4. Alternate key --> Those keys that cannot be the primary key(name,course)
        5. Foreign Key --> Relate two tables throw this key (one table can have multiple foreign keys)
        6. Super key --> (name + id + phno + email) --> primary key
        7. Composite Key -->  Combination of two or more keys(columns) that become the primary key
                               (name + phno) -->> primary key
                               
                               Sunil,876543210 --> unique
                               Sunil,987654321 --> unique
                               Aman,987654321
                               Ayushi,987654321
                               ayu,987654321
                               ayu,987654321

In [ ]:
#### DBA ---> Database Administrator
### Database ---> post???
### database (joins)

            MYSQL              SQLITE
             Mysql
             Xampp
             
             
                                 SQL  Languages
                                 
                            1. DDL  --> Data Definition Language (Schema) (Schema --> Overall definition of table)
                                    1. Create
                                    2. Drop (delete table as well as data)
                                    3. truncate (delete all data but not structure or schema)
                                    4. comment
                                    5. rename
                                    6. alter (alter the columns)(add column, remove column, change datatype of column)
                            2. DML  --> Data manipulation Language
                                     1.Insert
                                     2. Update (i want to change the data of sunil --> course --> ml)
                                     3. delete
                                     4. select
                            3. DCL --> Data Control Language
                                    1. grant --> it is used to give permission
                                    2. revoke --> it is used to take back the permission
                            4. TCL --> Transactional Control Language
                                     1. commit  (permanently save the data)
                                     2. rollback 
                                     3. savepoint

##### xampp
    1. start --> mysql --> service
    2. open the shell of xampp
    3. mysql -u root -p                        (- --> option,-u --> user, -p --> password)
    4. enter
    5. mysql shell

In [1]:
### port???

Server (Application) ---> Database --> Tables --> Data

; --> end of query

create table tablename(column_name datatype(range) , column_name2 datatype(range))

#### difference between char and varchar???