        Mysql --> pymysql
        pip install pymysql, MySQLdb
        
            Connectivity --> host (ip)
                            port (3306)
                            database
                            user
                            password

In [9]:
import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="internship_batch")
cursor = db.cursor()  
print("\n The cursor is created you can continue to execute commands")
cmd = "select * from student"
cursor.execute(cmd)
data = cursor.fetchall() #it will fetch all the data and return it to you in form of tuple
print("\n The command has been executed successfully")
#print(data)
for i in data:
    print("*"*80)
    print("\n id : ",i[0])
    print("\n Name : ",i[1].title())
    print("\n Course : ",i[2])
    print("\n Gender : ",i[3])
    print("*"*80)
db.close()
print("\n Closing the database")

 The cursor is created you can continue to execute commands

 The command has been executed successfully
********************************************************************************

 id :  101

 Name :  Shivani

 Course :  ds

 Gender :  female
********************************************************************************
********************************************************************************

 id :  102

 Name :  Rohan

 Course :  ml

 Gender :  male
********************************************************************************
********************************************************************************

 id :  103

 Name :  Anisha

 Course :  aws

 Gender :  female
********************************************************************************
********************************************************************************

 id :  104

 Name :  Anushka

 Course :  aws

 Gender :  female
********************************************************************************
********************************************************************************

 id :  105

 Name :  Devraj

 Course :  cloud

 Gender :  male
********************************************************************************
********************************************************************************

 id :  106

 Name :  Koashal

 Course :  python

 Gender :  male
********************************************************************************
********************************************************************************

 id :  107

 Name :  Priyanka

 Course :  python

 Gender :  female
********************************************************************************
********************************************************************************

 id :  108

 Name :  Naresh

 Course :  ds

 Gender :  male
********************************************************************************

 Closing the database

In [2]:
db

In [7]:
#%sql

In [11]:
getpass()

········

'pijfpijppofpo'

In [17]:
#insert data
import pymysql as sql
from getpass import getpass

user = input("\n Enter the user from which you want to login : ")
password = getpass("\n Enter your password : ")
db = sql.connect(host="localhost", port=3306, database="internship_batch", user=f"{user}", password=f"{password}")
cursor = db.cursor()
ch = int(input("\n In Which table you want to insert 1.Student 2.Fees 3.Address : "))
if ch == 1:
    while True:
        name = input("\n Enter name : ")
        course = input("\n Enter course : ")
        gender = input("\n Enter gender : ")
        cmd = f"insert into student(name,course,gender) values('{name}',c'{course}','{gender}')"
        cursor.execute(cmd)
        db.commit()  #to store the data permanently
        print("\n Data Inserted Successfully......")
        ch = input("\n Do you want to continue yes/no : ").strip().lower()
        if ch == "no":
            print("\n Okay bye bye.....I was not happy to have you......")
            cursor.execute("select id from student")
            sids = db.fetchall()
            for i in sids:
                print(i)
            break
elif ch == 2:
    while True:
        cursor.execute("select id from student")
        sids = cursor.fetchall()
        print("\n All these sid are avaiable so enter a sid among them")
        for i in sids:
            print(i)
        sid = int(input("\n Enter sid : "))
        fid = int(input("\n Enter fid : "))
        fees = int(input("\n Enter fees : "))
        dis = int(input("\n Enter discount : "))
        dip = int(input("\n Enter diposit : "))
        for i in sids:
            if sid in i:  
                cursor.execute(f"insert into fees values({fid},{sid},{fees},{dis},{dip})")
                db.commit()
                print("\n Data Inserted Successfully......")
                break
        else:
            print("\n No such Sid available please Try again")
        ch = input("\n Do you want to continue yes/no : ").strip().lower()
        if ch == "no":
            print("\n Okay bye bye.....I was not happy to have you......")
            break
                
        
        
elif ch == 3:
    aid = int(input("\n Enter address id : "))
    sid = int(input("\n Enter sid : "))
    city = input("\n Enter city : ")
    street = input("\n Enter street")
    cursor.execute(f"insert into address values({aid},{sid},'{city}','{street}')")
    db.commit()
    print("\n Data inserted successfully")
else:
    print("\n Invalid choice......")

 Enter the user from which you want to login : internship

 Enter your password : ········

 In Which table you want to insert 1.Student 2.Fees 3.Address : 3

 Enter address id : 6

 Enter sid : 109

 Enter city : gurgaon

 Enter streettilak nagar

 Data inserted successfully

                table???
            Student
                1. select
                2. update  #update student set course="python" where id = 107;
                    column??
                        column name
                        column value
                    id??
                3. insert
                4. delete
                    id??
           fees
               1. select
               2. update
               3. insert
               4. delete
               
          #Make bank application using oops and database??

#### Sqlite Connectivity

            It is a small database
            It is used by making database file
            
                Sqlite3 module ---> sqlite database connectivity

In [18]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\internship_batch\database

09-06-2020  18:17    <DIR>          .
09-06-2020  18:17    <DIR>          ..
09-06-2020  17:24    <DIR>          .ipynb_checkpoints
09-06-2020  18:17            10,638 DB_connectivity.ipynb
08-06-2020  18:58            65,061 eah_sql_blog1.jpg
06-06-2020  12:30           115,304 ER_diagram.ipynb
13-05-2020  16:51            52,045 ERD.png
25-05-2020  10:27            17,873 er-diagram-symbols.png
08-06-2020  18:58           379,115 JOIN_DBCONNECTIVITY.ipynb
05-06-2020  18:41            27,729 query1.txt
06-06-2020  12:27            27,107 query2.txt
08-06-2020  18:49            37,092 query3.txt
               9 File(s)        731,964 bytes
               3 Dir(s)  53,937,586,176 bytes free

In [21]:
import sqlite3 as sql

db = sql.connect("Employee.db")  #connect(database_name)
#if database exist then it will connect to it otherwise it will create database and then it will get connect to it
db.close()

In [20]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\internship_batch\database

09-06-2020  18:20    <DIR>          .
09-06-2020  18:20    <DIR>          ..
09-06-2020  17:24    <DIR>          .ipynb_checkpoints
09-06-2020  18:19            12,255 DB_connectivity.ipynb
08-06-2020  18:58            65,061 eah_sql_blog1.jpg
09-06-2020  18:20                 0 Employee.db
06-06-2020  12:30           115,304 ER_diagram.ipynb
13-05-2020  16:51            52,045 ERD.png
25-05-2020  10:27            17,873 er-diagram-symbols.png
08-06-2020  18:58           379,115 JOIN_DBCONNECTIVITY.ipynb
05-06-2020  18:41            27,729 query1.txt
06-06-2020  12:27            27,107 query2.txt
08-06-2020  18:49            37,092 query3.txt
              10 File(s)        733,581 bytes
               3 Dir(s)  53,926,506,496 bytes free

In [22]:
import sqlite3 as sql

db = sql.connect("Employee.db")  #connect(database_name)
#if database exist then it will connect to it otherwise it will create database and then it will get connect to it
cursor = db.cursor()
cmd = "create table employee(eid int(5),name varchar(100),address varchar(100))"
cursor.execute(cmd)
print("\n Table is created")

 Table is created

In [23]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\internship_batch\database

09-06-2020  18:24    <DIR>          .
09-06-2020  18:24    <DIR>          ..
09-06-2020  17:24    <DIR>          .ipynb_checkpoints
09-06-2020  18:23            14,032 DB_connectivity.ipynb
08-06-2020  18:58            65,061 eah_sql_blog1.jpg
09-06-2020  18:24             8,192 Employee.db
06-06-2020  12:30           115,304 ER_diagram.ipynb
13-05-2020  16:51            52,045 ERD.png
25-05-2020  10:27            17,873 er-diagram-symbols.png
08-06-2020  18:58           379,115 JOIN_DBCONNECTIVITY.ipynb
05-06-2020  18:41            27,729 query1.txt
06-06-2020  12:27            27,107 query2.txt
08-06-2020  18:49            37,092 query3.txt
              10 File(s)        743,550 bytes
               3 Dir(s)  53,898,403,840 bytes free

In [24]:
#vim employee.db

In [26]:
import sqlite3 as sql

db = sql.connect("Employee.db")  #connect(database_name)
#if database exist then it will connect to it otherwise it will create database and then it will get connect to it
cursor = db.cursor()
eid = int(input("\n ENter eid : "))
name = input("\n Enter name : ")
address = input("\n Enter address : ")
cmd = f"insert into employee values({eid},'{name}','{address}')"
cursor.execute(cmd)
db.commit()
print("\n data inserted")
db.close()

 ENter eid : 2

 Enter name : manish

 Enter address : vaishali nagar

 data inserted

In [27]:
with sql.connect("employee.db") as db:  #with --> context managers that will free you resource after coming out of indent
    cursor = db.cursor()
    cursor.execute("select * from employee")
    data = cursor.fetchall()
    print(data)

[(1, 'simran', 'malviya nagar'), (2, 'manish', 'vaishali nagar')]

In [28]:
with sql.connect("employee.db") as db:  #with --> context managers that will free you resource after coming out of indent
    cursor = db.cursor()
    cursor.execute("select * from employee")
    data = cursor.fetchone()   #fetch first tuple
    print(data)

(1, 'simran', 'malviya nagar')

### Design 
        Frontend --> User ---> html,css,bs,
        
        Html --> Hyper text Markup Language
            Markup --> browser
            tags --> <>
            <html>  -->opening tag
            </html> --> closing tag
            
                        HTML
            Head                  Body
            
            Head --> It is the first tag that is read
            
                title
                style
                script
                link --> to link the external files
            Body --> The tags or the content that you want to show on browser
                    p --> paragraph
                    li --> list
                    img --> image
                    video --> video
                    a --> links
                    ul --> un ordered list
                    ol --> ordered list
                    mark
                    form
                    sub
                    sup
                    i
                    b
                    br
                    input
                    label
                    
                    
       #w3schools